In [1]:
import pandas as pd
df1 = pd.read_csv('dataset_mhs2024.csv', sep = ',')
df2 = pd.read_csv('datatesting_mhs2024.csv', sep = ',')
df1.rename(columns={'Berat (Kg)':'Berat'}, inplace=True)
df1.rename(columns={'Tinggi (cm)':'Tinggi'}, inplace=True)
df1

,Timestamp,Nama,Umur,Jenis Kelamin,Berat,Tinggi
0,12/19/2024 13:11,Pathi,19,Laki-laki,70,169
1,12/19/2024 13:11,Diah Ayu Puspasari,19,Perempuan,44,157
2,12/19/2024 13:11,Sahrul Firdaus,20,Laki-laki,50,161
3,12/19/2024 13:12,Aulia Nisya Nur Rahma Safitri,19,Perempuan,40,153
4,12/19/2024 13:12,Muhammad Fauzan Adhima,20,Laki-laki,45,160
5,12/19/2024 13:12,Ainisa Dinda Iskandar,19,Perempuan,46,153
6,12/19/2024 13:12,Mohammad Ghifari Rizkullah,20,Laki-laki,58,165
7,12/19/2024 13:12,Muhamad Akbar Rabbani,19,Laki-laki,58,175
8,12/19/2024 13:13,Indri Rachma,21,Perempuan,40,162
9,12/19/2024 13:13,Safira Innayah Azzahro,20,Perempuan,45,160
10,12/19/2024 13:13,Muhammad Virgi Zulfahmi,19,Laki-laki,42,163
11,12/19/2024 13:13,Shiba Raihanah,20,Perempuan,60,158
12,12/19/2024 13:13,Naila Fitriani Hidayat,20,Perempuan,55,154
13,12/19/2024 13:13,Wahyu Syahputra,19,Laki-laki,60,173
14,12/19/2024 13:13,Muhammad Iqbal,20,Laki-laki,54,172
15,12/19/2024 13:13,Nazwatul Jannah As Syakur,19,Perempuan,41,155
16,12/19/2024 13:16,Muhammad Umam Afif,20,Laki-laki,66,175
17,12/19/2024 13:19,Achmad Rifa'i Ramadhan,20,Laki-laki,88,168
18,12/19/2024 13:20,Septian Si,21,Laki-laki,60,171

In [2]:
df2.rename(columns={'Berat (Kg)':'Berat'}, inplace=True)
df2.rename(columns={'Tinggi (cm)':'Tinggi'}, inplace=True)
df2

,Timestamp,Nama,Umur,Jenis Kelamin,Berat,Tinggi
0,12/19/2024 13:14,Eka Kartini,20,Perempuan,57,168
1,12/19/2024 13:14,Nurhayati,20,Perempuan,47,150
2,12/19/2024 13:14,Sabrina Jasmine Rambu Diena,19,Perempuan,70,157
3,12/19/2024 13:14,Elyas Randi Renaldi,20,Laki-laki,41,169
4,12/19/2024 13:15,Leohafs Sri Indrapura R Zain,21,Laki-laki,60,167

In [4]:
import matplotlib.pyplot as plt
import numpy as np
import statsmodel.api as sum

x = df[['Umur', 'Tinggi']].to_numpy()
y = df['Berat'].to_numpy()

x = sm.add_constant(x)
model_prediksi = sm.OLS(y,x).fit();
print(model_prediksi.summary())

ModuleNotFoundError: No module named 'matplotlib'